{% extends 'boutique/index.html' %}
{% load static %}
{% block title %}Réinitialisation du mot de passe{% endblock title %}

{% block content %}
<br><br><br><br>
<section class="forget-password-page account">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="block text-center">
          <a class="logo" href="{% url 'index' %}">
            <img src="{% static "images/logo.png" %}" alt="">
          </a>
          <h3 style="margin-top:50px" class="text-center">Consulter votre adresse email pour réinitialiser votre mot de passe</h3>
        </div>
      </div>
    </div>
  </div>
</section>
<br><br><br><br><br><br><br><br><br>
{% endblock content %}